.header {
    background-color: #f0f0f0;
    color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /*位置調整*/
}
.header-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.header-controls {
    width: 50px;
    margin-right: 10px;
}
.header-icon {
    width: 50px;
    margin-right: 10px;
}
.header-title {
    font-size: 24px;
    font-weight: bold;
}
.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav li {
    padding: 10px 30px;
    display: inline-block;
    margin-left: -1px;
    transition: background-color 0.2s; /*アニメーション降下を滑らかにする*/
    border: 1px solid black;
}
.nav li a {
    text-decoration: none;
    color: black;
    display: block;
}
.nav li:hover {
    background-color: grey;
}
.dark-mode-switch {
    position: absolute;
    right: 10px;
    top: 10px;
}
.dark-mode-text {
    margin-right: 10px;
    font-size: 16px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CCC;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

[data-theme="dark"] {
    background-color: #333;
    color: white;
}
[data-theme="dark"] .nav li {
    border-color: #555;
}
[data-theme="dark"] .nav li a {
    color: white;
}
[data-theme="dark"] .nav li:hover {
    background-color: #555;
}
