// スタイルのベース
header {
    background-color: #add8e6;
}

.content {
    padding: 20px;
}

#editor,
#preview {
    width: 100%;
    height: 200px;
}

#preview {
    border: 1px solid #000;
}

// ヘッダー関連のスタイル
.header {
    background-color: #f0f0f0;
    color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; // 位置調整

    &-inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    &-controls,
    &-icon {
        width: 50px;
        margin-right: 10px;
    }

    &-title {
        font-size: 24px;
        font-weight: bold;
    }
}

/* フッタースタイル */
footer {
    background-color: #f0f0f0;
    color: black;
    text-align: left;
    padding: 1em 0;
    display:flex;
    justify-content: space-between;

    .footer-text > p {
        padding: 0;
        margin: 0;
    }
}

// ナビゲーション関連のスタイル
.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    li {
        padding: 10px 30px;
        display: inline-block;
        margin-left: -1px;
        transition: background-color 320ms; // アニメーション降下を滑らかにする
        border: 1px solid black;

        &:hover {
            background-color: grey;
        }

        a {
            text-decoration: none;
            color: black;
            display: block;
        }
    }
}

// ダークモード関連のスタイル
[data-theme="dark"] {
    background-color: #333;
    color: white;

    body {
        background-color: #333;
    }

    header {
        background-color: #444;
    }

    .header {
        background-color: #444;
        color: white;
    }

    .content {
        background-color: #333;
        color: white;
    }

    footer {
        background-color: #222;
        color: white;
    }

    main {background-color: #333;
        color: white;
    }

    .nav {
        li {
            border-color: #555;

            a {
                color: white;
            }

            &:hover {
                background-color: #555;
            }
        }
    }
}

// スイッチ関連のスタイル
.dark-mode-switch {
    position: absolute;
    right: 10px;
    top: 10px;
}

.dark-mode-text {
    margin-right: 10px;
    font-size: 16px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #CCC;
        transition: .4s;

        &:before {
            position: absolute;
            content: "";
            height: 26px; // サイズを調整
            width: 26px; // サイズを調整
            left: 4px; // 位置を調整
            bottom: 4px; // 位置を調整
            background-color: white;
            transition: .4s;
        }
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        transform: translateX(26px); // 位置を調整
    }

    .slider.round {
        border-radius: 34px;

        &:before {
            border-radius: 50%;
        }
    }
}